@model ApartmentDetailsServiceModel

@{
    ViewBag.Title = "Details";
}

<h1 class="text-center">@Model.ApartmentType - @Model.CityName</h1>

<br />

<div class="container bootdey">
    <div class="row">
        <div class="col-md-6">
            <div class="pro-img-details">
                <img src="@Model.ImageUrl" alt="" class="img-fluid img-thumbnail">
            </div>
        </div>
        <div class="col-md-6">
            <div class="product_meta">
                <span class="tagged_as"><strong>City:</strong> <a>@Model.CityName</a></span>
                <br />
                <span class="tagged_as"><strong>Neighborhood:</strong> <a>@Model.NeighborhoodName</a></span>
                <br />
                <span class="tagged_as"><strong>Floir:</strong> <a>@Model.Floor</a></span>
                <br />
                <span class="tagged_as"><strong>Rent or Sale:</strong> <a>@Model.RentOrSale</a></span>
            </div>
            <div class="m-bot15"> <strong>Price : </strong> <span class="amount">@Model.Price <i>€</i></span></div>
            <br />
            <p class="text-lg-center">
                @Model.Description
            </p>
        </div>
    </div>
</div>

<br />
<div class="d-flex justify-content-lg-center">
    <a asp-controller="Questions" asp-action="Add" asp-route-id="@Model.Id" type="button" class="btn btn-info">Add Question</a>
</div>

<div class="d-flex justify-content-lg-end">
    @if (User.IsInRole(AdminConstants.AdministratorRoleName))
    {
        <a asp-controller="Apartments" asp-action="Edit" asp-route-id="@Model.Id" class="badge badge-light">Edit</a>
    }
    |
    <a asp-controller="Apartments" asp-action="All" class="badge badge-light">Back to List</a>
</div>